.image1  {
    margin-top: 40px;
}


.image1 img {

border-top: 25px solid skyblue;
border-bottom: 25px solid lightgreen;
border-right: 25px solid lightpink;
border-left: 25px solid #ffefd5;

}

table tr td{
    padding-right: 70px;
}

